<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531185819356-981eqhm625m2tms78rgjl2m3re7k4gi3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531185819356-981eqhm625m2tms78rgjl2m3re7k4gi3</string>
	<key>API_KEY</key>
	<string>AIzaSyB0vT6wbDPTlIwp8r-IJKA3IGs7jqW3H44</string>
	<key>GCM_SENDER_ID</key>
	<string>531185819356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>manojsm.yt-firebase</string>
	<key>PROJECT_ID</key>
	<string>yt-firebase-6fd1e</string>
	<key>STORAGE_BUCKET</key>
	<string>yt-firebase-6fd1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531185819356:ios:fac008fc79a1bca16ade19</string>
</dict>
</plist>